a{
  text-decoration: none!important;
  color: inherit!important;
}

body {
  font-family: 'San Francisco', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500; 
}

logo-text{
  font-family: 'San Francisco', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500; 
}